<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>数据中心</title>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../AmazeUI/js/amazeui.js"></script>
<script type="text/javascript" src="../ECharts/echarts.min.js"></script>
<script type="text/javascript" src="../js/dataCenter.js"></script>
<script type="text/javascript"
	src="http://api.map.baidu.com/api?v=2.0&ak=U1PKTEQKrbWAt5S4qIun4vAdv8lNLpz1"></script>
<link href="../AmazeUI/css/amazeui.css" rel="stylesheet" />
<link href="../css/dataCenter.css" rel="stylesheet" />
</head>
<body>
	<h1>数据中心</h1>
	<div id="main" style="width: 400px; height: 400px"></div>
	
</body>
</html>